/* Website Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* Global Styles */
* {
    font-family: 'Times New Roman', Times, serif;
} 

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

ul {
    list-style-type: none;
}

/* Styling */
body {
    display: flex;
    flex-direction: column;
}