/* Website Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* Global Styles */
* {
    font-family: 'Times New Roman', Times, serif;
} 

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

ul {
    list-style-type: none;
}

button {
    padding: 8px 16px;
}

img {
    height: auto;
}

/* Styling */
body {
    display: flex;
    flex-direction: column;
}

.logo {
    height: 60px;
}

.nav,
.footer {
    background-color: beige;
    padding: 24px 36px;
    display: flex;
    align-items: center;
}

.nav-container {
    display: flex;
}

.nav {
    justify-content: space-between;
}

.nav-items {
    display: flex;
    gap: 32px;
}

.content-hero {
    display: flex;
    flex-direction: column;
    padding: 60px;
    gap: 8px;
    justify-content: flex-start;
}
